<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="logo">
                NewsNLP Insights
            </div>
            <div class="nav">
                navigation
            </div>
        </header>

        <main>
            <section class="form">
                <form id="urlForm">
                    <input id="name" type="text" name="url" placeholder="Enter URL" required>
                    <button id="submitButton" type="submit">Submit</button>
                </form>
                
            </section>

            <section class="response">
                <strong>Form Results:</strong>
                <div id="results">
                </div>
            </section>
        </main>

        <footer>
            <p>NewsNLP Insights all right reserved &copy; 2024</p>
        </footer>
    </body>
</html>
